* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.body-div {
  display: flex;
}

.body-div h1 {
  margin-top: 2rem;
}

#svg-image {
  width: 80%;
  position: relative;
  top: 10%;
  animation: shake 1s;
  animation-iteration-count: infinite;
  transition-timing-function: ease-in-out;
}

@keyframes shake {
  0% {
    transform: translateY(1px);
  }
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(1px);
  }
}

.navbar {
  background-color: #0171cd;
}
.navbar a {
  color: #ffffff;
  font-style: italic;
  font-weight: 600;
}

.navbar a:hover {
  color: #f9fcff;
}

.container {
  background-color: #ffffff;
  margin: 2rem auto 1rem auto;
  padding: 2rem;
  border: 2px solid #0171cd;
  width: 80%;
}

.form-body {
  width: 40%;
  background-color: #0171cd;
  height: 100vh;
}

input {
  margin-bottom: 2px;
}

label {
  margin-top: 5px;
}

.heading {
  text-align: center;
  color: #0171cd;
}

.btn {
  margin: 10px 0;
  background-color: #0171cd;
  color: white;
}

.btn:hover {
  background-color: #0180e8;
  color: white;
}

@media (max-width: 900px) {
  .btn {
    width: 100%;
  }

  .container {
    width: 90%;
  }

  .body-div {
    display: block;
  }
  .form-body {
    padding-top: 10%;
    width: 100vw;
  }
  #svg-image {
    display: none;
    /* position: absolute;
    z-index: -1000;
    opacity: 0.2;
    width: 100%; */
  }
}

#message {
  text-align: center;
  color: white;
}

.error {
  background-color: orangered;
}

.success {
  background-color: #03a503;
}

.page {
  text-decoration: none;
  color: #0171cd;
}

.page:hover {
  color: #0180e8;
}
