* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-y: scroll;
  overflow: hidden;
}

.body-div {
  display: flex;
}

.body-div h1 {
  margin-top: 2rem;
}

#svg-image {
  width: 80%;
  position: relative;
  top: 10%;
  animation: shake 1s;
  animation-iteration-count: infinite;
  transition-timing-function: ease-in-out;
}

@keyframes shake {
  0% {
    transform: translateY(1px);
  }
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(1px);
  }
}

.navbar {
  background-color: #0171cd;
}
.navbar a {
  color: #ffffff;
  font-style: italic;
  font-weight: 600;
}

.navbar a:hover {
  color: #f9fcff;
}

.container {
  background-color: #ffffff;
  margin: 2rem auto 1rem auto;
  padding: 2rem;
  border: 2px solid #0171cd;
  width: 80%;
}

.form-body {
  width: 40%;
  background-color: #0171cd;
  height: 100vh;
}

input {
  margin-bottom: 2px;
}

label {
  margin-top: 5px;
}

.heading {
  text-align: center;
  color: #0171cd;
}

.btn {
  margin: 10px 0;
  background-color: #0171cd;
  color: white;
}

.btn:hover {
  background-color: #0180e8;
  color: white;
}

#logout {
  background-color: rgb(222, 4, 4);
  margin-left: 10px;
}

#logout:hover {
  background-color: red;
}

#newgroup {
  margin-left: 10px;
}

td {
  width: 50%;
}

@media (max-width: 900px) {
  .btn {
    width: 100%;
  }

  .container {
    width: 90%;
  }

  .body-div {
    display: block;
  }
  .form-body {
    padding-top: 10%;
    width: 100vw;
  }
  #svg-image {
    display: none;
  }
  .send-btn {
    width: 20%;
  }
  #user-container {
    top: 10%;
  }
  #menu {
    display: block;
    width: fit-content;
  }
  #chat-body {
    display: block;
    width: 80vw;
    margin-top: 0;
  }
  #logout {
    margin-left: 0;
  }

  #newgroup {
    margin-left: 0;
  }
}

#message {
  text-align: center;
  color: white;
}

.error {
  background-color: orangered;
}

.success {
  background-color: #03a503;
}

.page {
  text-decoration: none;
  color: #0171cd;
}

.page:hover {
  color: #0180e8;
}

.user-profile {
  color: #0171cd;
}

.others {
  background-color: #f9fcff;
  width: fit-content;
  margin-top: 0.5rem;
  padding: 5px;
}

.right td {
  text-align: right;
}

.you {
  background-color: #0171cd;
  color: #ffffff;
  width: fit-content;
  margin-top: 1%;
  padding: 5px;
}

#send-message {
  margin-top: 10px;
  width: 100%;
  display: flex;
}

.message-send input {
  display: inline;
  width: 90%;
  height: 10%;
  border: 2px solid #0171cd;
}

.message-send button {
  display: inline;
  height: fit-content;
  padding: 4px;
  margin-top: 0;
  margin-left: 4px;
}

.message-send span {
  font-weight: 500;
  font-size: x-large;
}

#chat-body {
  position: relative;
  height: 90vh;
  display: inline-flex;
}

#user-container {
  position: absolute;
  background-color: #f9fcff;
  top: 0%;
  left: 55px;
  z-index: 999;
  height: 100%;
  overflow-y: scroll;
}

.users {
  cursor: pointer;
}

.users:hover {
  background-color: #0180e8;
  color: #ffffff;
}

#chat-container {
  width: 100%;
  margin-left: 1rem;
}

#message-container {
  height: 80%;
  overflow-y: scroll;
}

.form-container {
  margin: 0.5rem auto 0 auto;
  width: 100%;
}

/* Scroll functions */

#message-container::-webkit-scrollbar {
  width: 0.5rem;
}

#message-container::-webkit-scrollbar-track {
  background: #f1f1f100;
}

#message-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #0171cd;
  outline: 1px solid #ffffff;
}

#user-container::-webkit-scrollbar {
  width: 0.5rem;
}

#user-container::-webkit-scrollbar-track {
  background: #f1f1f100;
}

#user-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #0171cd;
  outline: 1px solid #ffffff;
}

#menu {
  margin-left: 5px;
  display: inline-flex;
}
